<a href="https://colab.research.google.com/github/Danielvvv17/AI-Engineer-2024/blob/main/Exercitii_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Concatenate the string variables first_name and last_name with a space in between.
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe

In [2]:
# Find the length of the string "Data Science".
string = "Data Science"
length = len(string)
print(length)

12

In [3]:
# Extract the word "Data" from the string "Data Science".
string = "Data Science"
substring = string[0:4]
print(substring)

12

In [4]:
# Convert the string "hello world" to title case.
string = "hello world"
title_case = string.title()
print(title_case)

Hello World

In [5]:
# Repeat the string "Python" 5 times.
string = "Python"
repeated_string = string * 5
print(repeated_string)

PythonPythonPythonPythonPython

In [6]:
# Check if the substring "code" is present in "coding is fun".
string = "coding is fun"
presence = "code" in string
print(presence)

False

In [7]:
# Convert the string "HELLO WORLD" to lowercase.
string = "HELLO WORLD"
lower_case = string.lower()
print(lower_case)

hello world

In [8]:
# Replace all occurrences of "apple" with "orange" in the string "apple banana apple".
string = "apple banana apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

orange banana orange

In [9]:
# Split the string "one,two,three" by commas.
string = "one,two,three"
split_list = string.split(",")
print(split_list)

['one', 'two', 'three']

In [10]:
# Join the list ['apple', 'banana', 'cherry'] into a single string separated by commas.
lst = ['apple', 'banana', 'cherry']
joined_string = ','.join(lst)
print(joined_string)

apple,banana,cherry

In [11]:
# Convert the float 12.34 to a string.
num = 12.34
string = str(num)
print(string)

12.34

In [13]:
# Convert the string "789" to an integer.
string = "789"
integer = int(string)
print(integer)

789

In [14]:
# Convert the string "True" to a boolean.
string = "True"
boolean = string == "True"
print(boolean)

True

In [15]:
# Round the number 4.5678 to one decimal place.
number = 4.5678
rounded_number = round(number, 1)
print(rounded_number)

4.6

In [16]:
# Check if the string "123abc" is numeric.
string = "123abc"
is_numeric = string.isdigit()
print(is_numeric)

False

In [17]:
# Check if the string "OpenAI" is alphabetic.
string = "OpenAI"
is_alpha = string.isalpha()
print(is_alpha)

True

In [18]:
# Count the number of times the letter "e" appears in "Hello there".
string = "Hello there"
count = string.count("e")
print(count)

3

In [19]:
# Check if the string "Python Programming" starts with "Python".
string = "Python Programming"
starts_with = string.startswith("Python")
print(starts_with)

True

In [20]:
# Check if the string "Artificial Intelligence" ends with "Intelligence".
string = "Artificial Intelligence"
ends_with = string.endswith("Intelligence")
print(ends_with)

True

In [21]:
# Convert the integer 10 to a binary string.
integer = 10
binary_string = bin(integer)
print(binary_string)

0b1010

In [22]:
# Convert the string "robot" to a list of characters.
string = "robot"
list_of_characters = list(string)
print(list_of_characters)

['r', 'o', 'b', 'o', 't']

In [23]:
# Remove leading whitespace from the string " Hello".
string = " Hello"
trimmed_string = string.lstrip()
print(trimmed_string)

Hello

In [24]:
# Remove trailing whitespace from the string "World ".
string = "World "
trimmed_string = string.rstrip()
print(trimmed_string)

World

In [25]:
# Remove both leading and trailing whitespace from the string " Hello World ".
string = " Hello World "
trimmed_string = string.strip()
print(trimmed_string)

Hello World

In [26]:
# Find the starting index of the substring "Sci" in "Data Science".
string = "Data Science"
index = string.find("Sci")
print(index)

5

In [27]:
# Check if the string "Python3" is alphanumeric.
string = "Python3"
is_alphanumeric = string.isalnum()
print(is_alphanumeric)

True

In [28]:
# Swap the case of all characters in the string "Python Is Fun".
string = "Python Is Fun"
swapped_case = string.swapcase()
print(swapped_case)

pYTHON iS fUN

In [29]:
# Check if the substring "Python" is present in "python is awesome" (case-insensitive).
string = "python is awesome"
presence = "Python".lower() in string.lower()
print(presence)

True

In [30]:
# Repeat the character "*", 10 times.
character = "*"
repeated_character = character * 10
print(repeated_character)

**********

In [31]:
# Use string interpolation to insert "John" and "30" into the string "My name is ... and I am ... years old.".
name = "John"
age = 30
interpolated_string = f"My name is {name} and I am {age} years old."
print(interpolated_string)

My name is John and I am 30 years old.